<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Spring web application in Docker</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>Spring Application on Docker</h1>
	    <p th:text="'This is Spring Application ' + ${app_id} + '.'" />
	    <p th:text="'Its address is ' + ${address} + '.'" />
		<ul>
			<li><a th:href="@{'http://' + ${address} + '/ping'}">Ping Pong Scenario</a></li>
			<li><a th:href="@{'http://' + ${address} + '/alive'}">Alive Checking Scenario</a></li>
			<li>Command Scenario <ul>
				<li><a th:href="@{'http://' + ${address} + '/command_fix'}">Fix command: ls</a></li>
				<li><a th:href="@{'http://' + ${address} + '/command_input'}">Command input</a></li>
		</ul></ul>		
	</body>
</html>