apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring3
spec:
  selector:
    matchLabels:
      run: spring3
  replicas: 1
  template:
    metadata:
      labels:
        run: spring3
    spec:
      containers:
      - name: spring3
        image: spring3:v1
        ports:
        - containerPort: 8080
        
        